@agora-reg:			pfagorasanspro-reg-webfont;
@agora-thin:		pfagorasanspro-thin-webfont;
@agora-light:		pfagorasanspro-light-webfont;
@agora-med:			pfagorasanspro-medium-webfont;
@agora-bold:		pfagorasanspro-bold-webfont;
@intro-bold:		fontfabric_-_intro-bold-webfont;
@intro-black:		introblack-webfont;
@din-med:			dinpro-medium;
@helvetica-rom:		HelveticaNeueLTStd-Roman;

@icon: 				Flaticon;
@icon-ar: 			icon;
/*.include-custom-font(@family: @agora-reg, @weight: normal, @style: normal){
	@font-face{			
		font-family: "@{family}";			
		src:url('@{url-path-fonts}/@{family}.eot');
		src:url('@{url-path-fonts}/@{family}.eot?#iefix') format('embedded-opentype'),
			url('@{url-path-fonts}/@{family}.woff') format('woff'),
			url('@{url-path-fonts}/@{family}.ttf') format('truetype'),
			url('@{url-path-fonts}/@{family}.svg#icon') format('svg');
		font-weight: @weight;
		font-style: @style;		
	}
}*/
.include-custom-font(@family: @agora-reg, @weight: normal, @style: normal){
	@font-face{			
		font-family: "@{family}";			
		src: url('@{url-path-fonts}/@{family}.woff') format('woff');
		font-weight: @weight;
		font-style: @style;		
	}
}

.include-custom-font(@family: @agora-reg, @weight: normal, @style: normal);
.include-custom-font(@family: @agora-thin, @weight: normal, @style: normal);
.include-custom-font(@family: @agora-light, @weight: normal, @style: normal);
.include-custom-font(@family: @agora-med, @weight: normal, @style: normal);
.include-custom-font(@family: @agora-bold, @weight: normal, @style: normal);
.include-custom-font(@family: @intro-bold, @weight: normal, @style: normal);
.include-custom-font(@family: @intro-black, @weight: normal, @style: normal);
.include-custom-font(@family: @din-med, @weight: normal, @style: normal);
.include-custom-font(@family: @helvetica-rom, @weight: normal, @style: normal);
.include-custom-font(@family: @icon, @weight: normal, @style: normal);
.include-custom-font(@family: @icon-ar, @weight: normal, @style: normal);
 
.mixin-headings(@font-family: @agora-reg, @font-size: 20px, @line-height: 26px, @color: @black){
	font-family: @font-family;
	font-size: @font-size;
	line-height: @line-height;
	color: @color;
} 
@icon-arrows-left: 		"\f100";
@icon-arrows-right: 	"\f101";
@icon-close: 			"\f102";
@icon-cogwheel: 		"\f103";
@icon-cogwheels: 		"\f104";
@icon-drawing: 			"\f105";
@icon-fan: 				"\f106";
@icon-fb: 				"\f107";
@icon-kg: 				"\f108";
@icon-mail: 			"\f109";
@icon-map: 				"\f10a";
@icon-map-point: 		"\f10b";
@icon-ok: 				"\f10c";
@icon-play: 			"\f10d";
@icon-plus: 			"\f10e";
@icon-repair: 			"\f10f";
@icon-resize: 			"\f110";
@icon-search-bold: 		"\f111";
@icon-search-light: 	"\f112";
@icon-snow: 			"\f113";
@icon-steel: 			"\f114";
@icon-tool: 			"\f115";
@icon-user: 			"\f116";
@icon-vk: 				"\f117";
@icon-warning: 			"\f118";


@icon-back: 			"\f100";
@icon-next: 			"\f101";