body {
	font-family: @agora-reg;
	@media @media-size-xs {
		padding-top: 66px;
	}
	@media @media-size-xs-l {
		padding-top: 66px;
	}
	@media @media-size-sm {
		padding-top: 96px;
	}
}
a{
	color: @blue;
	&[href^="mailto:"],
	&[href^="tel:"]{
		text-decoration: none;
		&:hover{
			text-decoration: none;
		}
	}
}
div + p,
p + p{
	margin-bottom: 20px;
}
.snow-list{
	list-style: none;
	padding: 0;
	li{
		font-size: 16px;
		color: lighten(@black, 20%);
		padding-left: 25px;
		position: relative;
		margin-bottom: 7px;
		&:before{
			content: @icon-snow;
			font-family: @icon;
			color: rgb(46, 147, 208);
			position: absolute;
			left: 0px;
		}
		&:last-child{margin-bottom: 0}
	}
}
.content-site{
	background: rgb(255, 255, 255);
	padding: 45px 0 50px;
	&._second-page__content-site{
		padding: 25px 0 50px;
	}
	@media @media-size-xs{
		padding: 25px 0 30px;
	}
}
._cs__flex{
	display: flex;	
	margin-left: @grid_margin;
	margin-right: @grid_margin;
	@media @media-size-xs{
		flex-wrap: wrap;
	}
}
._cs__col{
	padding-left: @grid_padding;
	padding-right: @grid_padding;
}
._cs__left{
	width: 29%;
	@media @media-size-xs{
		width: 100%;
	}
	@media @media-size-sm-p{
		width: 36%;
	}
	@media @media-size-sm-l{
		width: 28%;
	}
	@media @media-size-md{
		width: 33%;
	}
}
._cs__right{
	width: 71%;
	@media @media-size-xs{
		width: 100%;
	}
	@media @media-size-sm-p{
		width: 64%;
	}
	@media @media-size-sm-l{
		width: 72%;
	}
	@media @media-size-md{
		width: 67%;
	}
}
.search-site{
	input{
		height: 42px;
		border-radius: 10px 0 0 10px;
		&::-webkit-input-placeholder {
			color: lighten(@black, 40%);
		}
		&:-moz-placeholder {
			color: lighten(@black, 40%);
		}
		transition: @transition-site;
		&:focus{
			box-shadow: none;
			border-color: #0075b9;
			&::-webkit-input-placeholder {
				color: #0075b9;
			}
			&:-moz-placeholder {
				color: #0075b9;
			}
		}
	}
}
.block-shadow{
	box-shadow: inset 1px 2px 5px 0px rgba(0, 0, 1, 0.13);
}
.site-nav-tabs{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-bottom: 1px solid #026eae;
	margin-bottom: 20px;
	&:before,
	&:after{display: none;}
	> li{
		> a{
			padding: 0;
			text-transform: uppercase;
			color: lighten(@black, 40%);
			font-size: 13px;
			line-height: 24px;
			border-bottom: 1px solid fadeout(#026eae, 100%);
			transition: @transition-site;
			display: inline-block;
			&:hover,
			&:focus{
				background: none;
			}
		}
		&.active{
			a{
				border-color: #026eae;
				color: #026eae;
			}
		}
	}
	@media @media-size-xs {
		margin-top: -10px;
		> li{
			margin-top: 10px;
		}
	}
	@media @media-size-xs-6-l {
		
		> li{
			width: 50%;
		}
	}
	@media @media-size-sm {
		margin-top: -10px;
		> li{
			margin-top: 10px;
		}
	}
}
._csb__tab-pane{
	line-height: 24px;
}
.litera{			
	.mixin-headings(
		@font-family: @agora-bold, 
		@font-size: 73px, 
		@line-height: 73px, 
		@color: #0370af
	);
	float: left;
	margin-right: 10px;
}
.blue-list{
	list-style: none;
	> li{
		padding-left: 15px;
		position: relative;
		&:before{
			content: '';
			background: #0075b9;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			vertical-align: middle;
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 0px;
			transform: translateY(-50%);
		}
	}
}
._cs__arhive{
	list-style: none;
	margin-bottom: 20px;
	> li{
		&.disable{
			font-family: @agora-bold;
			font-size: 18px;
			color: @blue2;
			line-height: 32px;
			margin-bottom: 10px;
		}
		> a{
			display: inline-block;
			padding-left: 15px;
			position: relative;
			font-size: 16px;
			color: lighten(@black, 40%); 
			margin-bottom: 15px;
			&:before{
				content: '';
				width: 7px;
				height: 7px;
				position: absolute;
				top: 50%;
				left: 0;
				border-radius: 50%;
				background: @blue2;   
				transform: translateY(-50%);
			}
			&:hover{
				text-decoration: none;
				color: @blue2;

			}
		}
	}
}
.site-soc{				
	.mixin-headings(
		@font-family: @agora-bold, 
		@font-size: 16px, 
		@line-height: 28px, 
		@color: lighten(@black, 20%)
	);
	.icon{
		border: none;
		outline: none;
		background: none;
		display: inline-block;
		vertical-align: middle;
		&:before{
			font-family: @icon;
			font-weight: normal;
			font-size: 25px;
			line-height: 25px;
			color: @blue2;
			transition: @transition-site;    
			display: block;
			margin: 3px 0px 0 10px;
			@media @media-size-xs{
				font-size: 32px;
				line-height: 32px;
			}
		}
		&.icon-vk:before{content: @icon-vk}
		&.icon-fb:before{content: @icon-fb}
		&.icon-ok:before{content: @icon-ok}
		&:hover{
			&:before{
				color: red;
			}
		}
	}
	&.line{
		border-bottom: 1px solid #ddd;
		padding-bottom: 25px;
		margin-bottom: 25px;
	}
}
._block__warning{
	margin-bottom: 30px;
	&:before{
		display: inline-block;
		vertical-align: middle;
		font-family: @icon;
		content: @icon-warning;
		font-size: 20px;
		line-height: 20px;
		margin-right: 15px;
	}
}